# Supabase Configuration
VITE_SUPABASE_URL=https://vybqdidynvavdkmvhcvj.supabase.co
VITE_SUPABASE_ANONYMOUS_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5YnFkaWR5bnZhdmRrbXZoY3ZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1MjYyNjEsImV4cCI6MjA5MDEwMjI2MX0.mpoy-pHw2mKdc0UtgB0r5bH2mNU2JJZSeOVOvu2kd5o